@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-black text-white m-0 p-0;
  width: 100% !important;
  max-width: none !important;
}

p {
  @apply text-base leading-relaxed medium:text-lg;
}

a {
  @apply text-orange-400 hover:text-orange-500 transition;
}

h1 {
  @apply font-extrabold tracking-tight;
}

h2, h3, h4, h5, h6 {
  @apply font-semibold;
}

@layer components {
  .gradient-yellow-to-red {
    @apply bg-gradient-to-r from-yellow-500 via-orange-500 to-red-500;
  }
}

.slider {
  @apply
  w-full h-2 rounded-lg appearance-none cursor-pointer
  bg-gradient-to-r from-gray-500 to-blue-500
  disabled:opacity-40 disabled:cursor-not-allowed
}

.slider::-webkit-slider-thumb {
  @apply
  appearance-none w-5 h-5 rounded-full bg-white shadow-md
  transition-all duration-150;
}

.slider::-webkit-slider-thumb:hover {
  @apply scale-110
}

.slider::-webkit-slider-thumb:active {
  @apply scale-125
}

.slider::-moz-range-thumb {
  @apply
  w-5 h-5 rounded-full bg-white shadow-md
  transition-all duration-150;
}

.slider::-moz-range-thumb:hover {
  @apply scale-110;
}

.slider::-moz-range-thumb:active {
  @apply scale-125;
}

@layer utilities {
  .overlay-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
}

@screen small {
  .my-title {
    @apply text-4xl;
  }
}

@screen medium {
  .my-title {
    @apply text-6xl;
  }
}

@screen laptop {
  .my-title {
    @apply text-7xl;
  }
}

